.Button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #1d1d1d;
  border-radius: 10px;
  z-index: 1;
}

.Button h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px 0 10px 0;
}

.Button p {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  font-size: 2rem;
}

.Button button {
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #7f5af0;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;

  cursor: pointer;
}

.Button button:hover {
  transition: 0.2s all ease-in-out;
  background-color: #232946;
}
